img {
  width: 50px;
}
#visage {
  width: 400px;
}
#yeux1 {
  width: 200px;
  position: absolute;
  top: 200px;
  left: 100px;
}
#nez1 {
  width: 50px;
  position: absolute;
  top: 250px;
  left: 170px;
}      
#bouche1 {
  width: 100px;
  position: absolute;
  top: 330px;
  left: 150px;
}
#chapeau {
  width: 300px;
  position: absolute;
  top: 0px;
  left: 60px;
}
#noeudPapillon {
  width: 150px;
  position: absolute;
  top: 380px;
  left: 120px;        
}
#oiseau {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 240px;
}